<div>SAMPLE GAME, WILL BECOME HOMEPAGE</div>
<div class="adventure">
  <div class="box">
    <div *ngIf="currentRoom.west" class="west" (click)="testing(currentRoom.west)">{{currentRoom.west.label || currentRoom.west}}</div>
    <div *ngIf="currentRoom.north" class="north" (click)="testing(currentRoom.north)">{{currentRoom.north.label || currentRoom.north}}</div>
    <div *ngIf="currentRoom.east" class="east" (click)="testing(currentRoom.east)">{{currentRoom.east.label || currentRoom.east}}</div>
    <div *ngIf="currentRoom.south" class="south" (click)="testing(currentRoom.south)">{{currentRoom.south.label || currentRoom.south}}</div>
    <div class="text">{{currentRoom.description}}</div>
  </div>
</div>
