<div class="create">
  <div *ngIf="showMap">
    <div>Map Overview</div>
    <div class="map-container">
      <div class="square" [class.active]="room.name" *ngFor="let room of emptyGame.gameBoard; let i = index" (mouseenter)="hovering = 'Room ' + i" (mouseleave)="hovering = false" (click)="editThisRoom(room)"></div>
    </div>
    <div *ngIf="hovering">Click to edit: {{hovering}}</div>
    <div>Should show room info when hovering room</div>
  </div>
  <div *ngIf="!showMap">
    <div class="close" (click)="showMap = !showMap">Close</div>
    <input type="text" placeholder="Room Name" #name (keyup)="editRoom.name = name.value"/>
    <div>{{editRoom.name}}</div>
  </div>
</div>
